.container{
    border: 2px solid black;
    border-radius: 28px;
    width: max-content;
    background-color: rgb(58 57 57);
}
.text-center{
    text-align:center;
}
.bg-red{
    background-color: red;
}
.mx-auto
{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}